<h4 class="heading-3">Personal data processing policy</h4>
<h6 class="heading-4">1. General Provisions</h6>
<p class="text">
  This personal data processing policy has been drawn up in accordance with the
  requirements of the <strong>DEPARTMENT OF JUSTICE INDIA</strong> "Privacy
  Policy"
</p>
<p class="text">
  We does not automatically capture any specific personal information from you,
  (like name, phone number or e-mail address), that allows us to identify you
  individually. If the Department of Justice requests you to provide personal
  information, you will be informed for the particular purposes for which the
  information is gathered and adequate security measures will be taken to
  protect your personal information. <br />
  We do not sell or share any personally identifiable information volunteered on
  the Website to any third party (public/private). Any information provided to
  this website will be protected from loss, misuse, unauthorized access or
  disclosure, alteration, or destruction. We gather certain information about
  the User, such as Internet protocol (IP) addresses, domain name, browser type,
  operating system, the date and time of the visit and the pages visited. <br />
  We make no attempt to link these addresses with the identity of individuals
  visiting our site unless an attempt to damage the site has been detected.
</p>

<h6 class="heading-4">2. Basic concepts used in the Policy</h6>
<p class="text">
  2.1. Automated processing of personal data — processing of personal data using
  computer technology. <br />
  2.2. Blocking of personal data — temporary cessation of processing of personal
  data (except for cases when processing is necessary to clarify personal data).
  <br />
  2.3. Website — a set of graphic and information materials, as well as computer
  programs and databases that ensure their availability on the Internet at the
  network address https://sachin-guri.github.io/ . <br />
  2.4. Personal data information system — a set of personal data contained in
  databases and the information technologies and technical means that ensure
  their processing. <br />
  2.5. Depersonalization of personal data — actions as a result of which it is
  impossible to determine without the use of additional information the
  ownership of personal data by a specific User or another subject of personal
  data. <br />
  2.6. Personal data processing — any action (operation) or set of actions
  (operations) performed with the use of automation tools or without the use of
  such tools with personal data, including collection, recording,
  systematization, accumulation, storage, clarification (updating,
  modification), retrieval, use, transfer (distribution, provision, access),
  depersonalization, blocking, deletion, destruction of personal data. <br />
  2.7. Operator — a state body, municipal body, legal entity or individual that,
  independently or jointly with other persons, organizes and/or carries out the
  processing of personal data, as well as determines the purposes of processing
  personal data, the composition of personal data subject to processing, actions
  (operations) performed with personal data. <br />
  2.8. Personal data — any information relating directly or indirectly to a
  specific or determinable User of the website
  https://sachin-guri.github.io/ . <br />
  2.9. Personal data permitted for distribution by the personal data subject —
  personal data, access to which by an unlimited number of persons is granted by
  the personal data subject by giving consent to the processing of personal data
  permitted by the personal data subject for distribution in the manner
  prescribed by the Law on Personal Data. <br />
  2.10. User — any visitor to the website https://sachin-guri.github.io/ .
  <br />
  2.11. Provision of personal data — actions aimed at disclosing personal data
  to a specific person or a specific group of persons. <br />
  2.12. Dissemination of personal data — any actions aimed at disclosing
  personal data to an indefinite number of persons (transfer of personal data)
  or familiarizing an unlimited number of persons with personal data, including
  the publication of personal data in the media, posting in information and
  telecommunications networks or providing access to personal data in any other
  way. <br />
  2.13. Cross-border transfer of personal data — transfer of personal data to
  the territory of a foreign state to a government body of a foreign state, a
  foreign individual or a foreign legal entity. <br />
  2.14. Destruction of personal data — any actions as a result of which personal
  data are irrevocably destroyed with the impossibility of further restoration
  of the content of personal data in the personal data information system and/or
  the destruction of tangible media of personal data.
</p>

<footer class="mt-5">
  <p class="text p-0">
    © {{ currectYear }} Sachin Kumar Guri. All rights reserved.
  </p>
</footer>
