<div class="content-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="d-flex justify-content-end align-items-center gap-3 bg-black p-3">
    <!-- <a class="link" href="https://bit.ly/m/Sachin-Kumar" target="_blank" rel="noopener">
      <svg class="link-icon">
        <use xlink:href="icons.svg#icon-user"></use>
      </svg>
      Contact
    </a> -->
    <a class="link me-lg-3" href="https://bit.ly/sachin_resume_weber" target="_blank" rel="noopener">
      <svg class="link-icon">
        <use xlink:href="icons.svg#icon-download"></use>
      </svg>
      Resume
    </a>
    <button mat-icon-button (click)="snav.toggle()" [ngClass]="{'visually-hidden': !mobileQuery.matches}">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container bg-black" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="!mobileQuery.matches" class="bg-black">
      <app-side-bar (onToggle)="snav.toggle()"></app-side-bar>
    </mat-sidenav>

    <mat-sidenav-content class="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
