# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: |
          npm install --force
          npm run build
          cp dist/sachin-guri.github.io/index.html dist/sachin-guri.github.io/404.html

    - name: Build and Deploy
      uses: JamesIves/github-pages-deploy-action@v4.4.3
      with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist/sachin-guri.github.io
